{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import"],
  "env": { "browser": true },
  "rules": {
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "react/jsx-one-expression-per-line": "off",
    "no-extra-semi": "error",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "semi": [
      "error",
      "never",
      { "beforeStatementContinuationChars": "always" }
    ],
    "react/jsx-uses-react": "error",
    "import/prefer-default-export": "off",
    "react/prop-types": "off"
  }
}
